@import "bourbon";

* {
  margin: 0;
  padding: 0;
}
body, html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  background-image: url(/img/lagoon-close-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: Abel;
  font-size: 24px;
  text-rendering: optimizeLegibility;
  text-align: center;
}

section#teaser {
  height: 100%;
  width: 768px;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;

  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  @include flex-grow(0);

  h1 {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 96px;
    font-family: Raleway;
    font-weight: 300;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 32px;
  }

  p {
    margin-bottom: 2rem;
  }

  nav {
    display: block;
    width: 100%;
    ul {
      display: block;
      width: 100%;
      list-style: none;

      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);
      @include flex-grow(1);

      li {
        @include flex(1);
        height: 48px;

        a {
          display: block;
          margin: 0 8px;
          height: 48px;
          line-height: 48px;
          font-size: 24px;
          font-weight: 300;
          text-decoration: none;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 24px;
          @include transition(all linear 150ms);

          &:hover {
            background: rgba(255,255,255,0.2);
            @include transition(all linear 150ms);
          }
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
  p {
    display: inline-block;
    opacity: 0.7;
  }
}

@media screen and (max-width: 600px) {
  section#teaser {
    h1 {
      font-size: 72px;
    }
  }
}
